.navbar-brand {
  margin-right: 20px;
  padding-top: 15px;
}

.title {
  font-size: @font-size-h2;
}

.title-second {
  float: right;
  font-size: @font-size-base;
}

.text-pre {
  white-space: pre-line;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.footer {
  background-color: whitesmoke;
  margin-top: 35px;
  padding: 15px 0;
  .box-shadow(inset 0 5px 15px rgba(0, 0, 0, .025));
}