<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="scrollable-vertical limited-table">
                <table class="table clickable-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Time</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in projects" ng-click="selectProject(project)" ng-class="{'active': project._id == selectedProject._id}">
                            <td>{{project.name}}</td>
                            <td>{{project.time}}</td>
                            <td>{{project.type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary pull-right margin-left-10" ng-click="createNewProject()">Create new project</button>
            <button ng-show="selectedProject._id" type="button" class="btn btn-danger pull-right" ng-click="deleteProject()">Remove selected project</button>
        </div>
    </div>

    <div ng-if="selectedProject" class="margin-top-10">
        <div class="separator"></div>
        <form name="projectForm" class="margin-top-10">
            <div class="row form-group">
                <div class="col-xs-12">
                    <input type="text" class="form-control input-header" ng-model="selectedProject.name" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Time</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="selectedProject.time">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Type</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="selectedProject.type">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Short description</label>
                </div>
                <div class="col-md-10">
                    <textarea rows="3" class="form-control" ng-model="selectedProject.shortDescription"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Description</label>
                </div>
                <div class="col-md-10">
                    <textarea rows="5" class="form-control" ng-model="selectedProject.description"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Link</label>
                </div>
                <div class="col-md-1 col-xs-2">
                    <label>Name</label>
                </div>
                <div class="col-md-3 col-xs-10">
                    <input type="text" class="form-control" ng-model="selectedProject.link.name">
                </div>
                <div class="col-md-1 col-xs-2">
                    <label>URL</label>
                </div>
                <div class="col-md-5 col-xs-10">
                    <input type="text" class="form-control" ng-model="selectedProject.link.url">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Tags</label>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="list-unstyled">
                                <li ng-repeat="tag in selectedProject.tags">
                                    {{tag}}  <i class="glyphicon glyphicon-remove remove-button" ng-click="removeItem(selectedProject.tags, tag)"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5">
                            <input type="text" class="form-control" ng-model="newTag">
                        </div>
                        <div class="col-md-9 col-xs-7">
                            <button type="button" class="btn btn-primary" ng-click="addItem(selectedProject.tags, newTag); newTag = null;">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Images</label>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="list-unstyled">
                                <li ng-repeat="image in selectedProject.images">
                                    {{image}} <i class="glyphicon glyphicon-remove remove-button" ng-click="removeItem(selectedProject.images, image)"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" ngf-select="uploadImage($file)">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="margin-top-10">
                <button type="submit" class="btn btn-primary pull-right margin-left-10" ng-click="save()" ng-disabled="projectForm.$invalid">Save</button>
                <button type="button" class="btn btn-danger pull-right" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>