<div class="row">
    <div class="col-md-6">
        <div class="alert alert-danger" ng-if="error">
            <span>Incorrect username or password</span>
        </div>
        <input type="text" class="form-control form-group" ng-model="user.username" placeholder="Username">
        <input type="password" class="form-control form-group" ng-model="user.password" placeholder="Password">
        <button class="formgroup btn btn-primary pull-right" type="submit" ng-disabled="!user.username || !user.password" ng-click="login()">Login</button>
    </div>
</div>